{:paths ["src/background"
         "src/popup"
         "src/content_script"

         ; this is just a temporary override of shadow-cljs behaviour
         ; https://clojurians.slack.com/archives/C6N245JGG/p1581362714447400 for further discussion
         "src/shadow-hacks"]

 :deps  {org.clojure/clojure       {:mvn/version "RELEASE"}
         org.clojure/clojurescript {:mvn/version "RELEASE"}
         seancorfield/clj-new      {:mvn/version "RELEASE"}
         binaryage/devtools        {:mvn/version "RELEASE"}
         binaryage/chromex         {:git/url "https://github.com/binaryage/chromex"
                                    :sha "af0feed2b1218e76ebdab1fa309c81ff72ece13f"}
         ; ---
         thheller/shadow-cljs      {:mvn/version "RELEASE"}}}
